{% for setting in settings %}
    <div
            class="form-group {% if setting.required and setting.value is empty %}has-warning{% endif %}"
            id="ws-setting-{{ setting.code }}"
    >

        <label class="col-sm-2 col-form-label" for="setting-{{ setting.code }}">
            {{ setting.name|trans({}, setting.translationDomain) }}
            {% if setting.required|default(false) %}
                <i class="fa fa-asterisk"></i>
            {% endif %}
        </label>

        <div class="col-lg-8">
            {% if setting.type == 'boolean' %}
                <div class="col-sm-10">
                    <label class="custom-checkbox job-form__check col-12">
                        <input type="checkbox" name="{{ setting.code }}" class="custom-checkbox__input ws-setting-option" value="1" {% if setting.value %}checked="checked"{% endif %}>
                        <span class="custom-checkbox__checkmark"></span>
                        <span class="custom-checkbox__text">
                            {% if setting.description is not empty %}
                                {{ setting.description|trans({}, setting.translationDomain) }}
                            {% endif %}
                        </span>
                    </label>
                </div>

            {% elseif setting.type == 'multiple' %}
                <select name="{{ setting.code }}" class="ws-setting-option form-control">
                    {% for value, option in setting.options %}
                        <option value="{{ value }}" {% if value == setting.value %}selected="selected"{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
                <span class="help-block m-b-none">
                    {% if setting.description is not empty %}
                        {{ setting.description|trans({}, setting.translationDomain) }}
                    {% endif %}
                </span>

            {% elseif setting.type == 'textarea' %}
                <textarea name="{{ setting.code }}"
                          class="ws-setting-option form-control"
                          placeholder="{{ setting.placeholder is defined and setting.placeholder is not empty ? setting.placeholder|trans({}, setting.translationDomain) }}"
                          rows="6">{{ setting.value }}</textarea>
                <span class="help-block m-b-none">
                    {% if setting.description is not empty %}{{ setting.description|trans({}, setting.translationDomain) }}{% endif %}
                </span>

            {% else %}
                <input name="{{ setting.code }}"
                       type="text" class="ws-setting-option form-control"
                       placeholder="{{ setting.placeholder is defined and setting.placeholder is not empty ? setting.placeholder|trans({}, setting.translationDomain) }}"
                       value="{{ setting.value }}">
                <span class="help-block m-b-none">
                    {% if setting.description is not empty %}
                        {{ setting.description|trans({}, setting.translationDomain) }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
    </div>
{% endfor %}
