<div class="navbar-header">
    <div class="col-lg-10">
        <h2>{{ get_header() }} {% if get_subheader() is not empty %} \ {{ get_subheader() }}{% endif %}</h2>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('cms_dashboard') }}">{{ 'dashboard.menu'|trans({}, 'cms') }}</a>
            </li>

            {% for name, link in get_breadcrumbs() %}
                {% if link == false %}
                    <li class="breadcrumb-item active"><strong>{{ name }}</strong></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ link }}">{{ name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
