<div class="c-dropdown dropdown u-pr-15" data-toggle="dropdown-profile" data-component="ws_dropdown">
    <a
        class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle"
        href="#"
        id="dropdwonMenuAvatar"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        {# TODO integrar #}
        <i class="fal fa-user-circle fa-lg u-pr-5"></i>
        {# <img class="c-avatar__img" src="{{ asset('cms/images/avatar-72.jpg')}}" alt="{{ app.user.name }}"> #}
        {{ source('@WSCore/cms/icons/arrow.svg') }}
    </a>

    <div class="c-dropdown__menu dropdown-menu dropdown-menu-right dropdown-profile" aria-labelledby="dropdwonMenuAvatar">
        <a class="c-dropdown__item dropdown-item" href="{{ path('ws_administrator_profile') }}">
            {{ 'view_profile'|trans({}, 'ws_cms') }}
        </a>
        {% if ws_activity_log_enabled() and is_granted('ROLE_WS_CORE_ACTIVITY_LOG') %}
            <a class="c-dropdown__item dropdown-item" href="{{ path('ws_activity_log_index') }}">
                {{ 'title'|trans({}, 'ws_cms_activity_log') }}
            </a>
        {% endif %}
    </div>
</div>
