{% set domains = get_domains() %}
{% if domains|length > 1 %}
    <div class="c-dropdown dropdown u-mr-20" data-toggle="dropdown-language" data-component="ws_dropdown">
        <a id="languageDropdownButton" href="#" class="c-notification u-mr-0 u-flex u-align-items-center dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            <span class="c-notification__icon u-pr-5">
                <i class="fal fa-globe-europe"></i>
            </span>
            <p class="c-navbar__text u-text-xsmall u-pr-5">
                {{ ('language.' ~ get_current_domain().locale)|trans({}, 'ws_cms') }}
            </p>
            {{ source('@WSCore/cms/icons/arrow.svg') }}
        </a>

        <div
            class="c-dropdown__menu c-dropdown__menu--medium dropdown-menu dropdown-language"
            aria-labelledby="languageDropdownButton"
        >
            {% for domain in domains %}
                <a
                    href="{{ path('ws_switch_domain', { 'id': domain.id }) }}"
                    class="c-dropdown__item dropdown-item o-media {{ domain.id == get_current_domain().id ? 'is-active' }}"
                >
                    {{ domain.host }} |
                    {{ ('language.' ~ domain.locale)|trans({}, 'ws_cms') }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
