<ul class="c-sidebar__list">
    {% for menu in get_sidebar() %}
        {% if menu.roles is empty or is_granted(menu.roles) %}
            {% if menu.container %}
                <li class="c-sidebar__item has-submenu {{ in_route(menu.collapsedRoutes, 'is-open') }}">
                    <a
                        class="c-sidebar__link"
                        href="#"
                        aria-expanded="false"
                    >
                        <i class="fa fa-caret-square-o-down u-mr-5"></i>
                        {{ menu.label|trans({}, menu.translationDomain) }}
                    </a>
                    <ul class="c-sidebar__submenu collapse">
                        {% for submenu in menu.children %}
                            {% if is_granted(submenu.roles) %}
                                <li>
                                    <a
                                        class="c-sidebar__link js-submenu-children {{ in_route(submenu.collapsedRoutes, 'is-active', null, submenu.routeOptions) }}"
                                        href="{{ path(submenu.routeName, submenu.routeOptions) }}"
                                    >
                                        {{ submenu.label|trans({}, submenu.translationDomain) }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <a
                    class="c-sidebar__link {{ in_route(menu.collapsedRoutes, 'is-active') }}"
                    href="{{ path(menu.routeName, menu.routeOptions) }}"
                >
                    <i class="fa fa-home u-mr-5"></i>
                    {{ menu.label|trans({}, menu.translationDomain) }}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
