{% for menu in get_sidebar() %}
    {% if menu.roles is empty or is_granted(menu.roles) %}
        <li class="hide {{ in_route(menu.collapsedRoutes) }}">

            {% if menu.container %}
                <a class="nav-label {{ in_route(menu.collapsedRoutes, 'collapsed') }}" data-toggle="collapse" data-target="#{{ menu.code }}NavBar">
                    <i class="fas {{ menu.icon }}"></i>
                    <span>{{ menu.label|trans({}, menu.translationDomain) }}<span class="fa arrow"></span></span>
                </a>

                <div id="{{ menu.code }}NavBar" class="collapse navbar-collapse {{ in_route(menu.collapsedRoutes, 'show') }}">
                    <ul class="nav nav-second-level">
                        {% for submenu in menu.children %}
                            {% if is_granted(submenu.roles) %}
                                <li class="{{ in_route(submenu.collapsedRoutes, 'active', null, submenu.routeOptions) }}">
                                    <a href="{{ path(submenu.routeName, submenu.routeOptions) }}">
                                        <i class="fas {{ submenu.icon }}"></i>
                                        <span class="nav-label">{{ submenu.label|trans({}, submenu.translationDomain) }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a href="{{ path(menu.routeName, menu.routeOptions) }}">
                    <i class="fas {{ menu.icon }}"></i>
                    <span class="nav-label">{{ menu.label|trans({}, menu.translationDomain) }}</span>
                </a>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
