<form class="c-toolbar u-justify-space-between u-mb-medium" id="user_filter_form" role="form" accept-charset="UTF-8">
    <h4 class="c-toolbar__title u-mr-auto">Design Backlog</h4>

    <div class="c-field c-field--inline has-icon-right u-hidden-down@tablet u-mr-small">
        <span class="c-field__icon">
            {{ source('@WSCore/cms/icons/search.svg') }}
        </span>
        <label class="u-hidden-visually" for="navbar-search">Seach</label>
        <input class="c-input" id="navbar-search" type="text" placeholder="{{ 'search'|trans({}, 'ws_cms') }}" name="f" value="{{ app.request.get('f') }}" autocomplete="off">
    </div>
    <button type="submit" class="c-btn c-btn--info u-mr-small">{{ 'search'|trans({}, 'ws_cms') }}</button>
    <a class="c-btn c-btn--success" href="{{ ws_cms_path("#{route_prefix}_create") }}">{{ 'new'|trans({}, 'ws_cms') }}</a>
</form>
