{% extends('@WSCore/cms/layout.html.twig') %}

{% page_configuration {
    'title': 'title'|trans({}, 'ws_cms_translation'),
    'header': 'title'|trans({}, 'ws_cms_translation'),
    'breadcrumbs': {
        ('title'|trans({}, 'ws_cms_translation')): false,
    }
} %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight faster" data-page="translation">
        <div class="row">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'disclaimer'|trans({ '%host%': domain.host, '%language%': ("language.#{domain.locale}"|trans({}, 'ws_cms'))}, 'ws_cms_translation')|raw }}</h5>
                        <div class="float-right">
                            <button class="btn btn-primary" data-save-url="{{ path('ws_translation_save') }}" id="ws-translation-save">{{ 'save'|trans({}, 'ws_cms') }}</button>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            {% for node in translations %}
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{ "#{node.source}translation.#{node.name}.name"|trans({}, node.type, domain.locale) }}</h5>
                            <small>{{ "#{node.source}translation.#{node.name}.description"|trans({}, node.type, domain.locale) }}</small>
                        </div>

                        <div class="ibox-content">
                            {% for attribute in node.attributes %}
                                <div class="form-group">
                                    <small>{{ "#{node.name}.#{attribute.name}" }}</small>
                                    <input type="text" class="form-control ws-translation-attribute"
                                           name="{{ attribute.id }}"
                                           value="{% if attribute.translation is not null %}{{ attribute.translation }}{% endif %}"
                                           placeholder="{{ "#{node.source}#{node.name}.#{attribute.name}"|trans({}, node.type, domain.locale) }}"
                                           title="{{ "#{node.source}#{node.name}.#{attribute.name}"|trans({}, node.type, domain.locale) }}"
                                    />
                                    <br />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
