{% extends('@WSCore/cms/layout.html.twig') %}

{% page_configuration {
    'title': 'title'|trans({}, 'ws_cms_translation'),
    'header': 'title'|trans({}, 'ws_cms_translation'),
    'breadcrumbs': [
        {
            'name': 'title'|trans({}, 'ws_cms_translation'),
            'main': true
        }
    ]
} %}

{% block content %}
    <div class="container" data-page="translation">
        <div class="row">
            <div class="col-lg-9 u-pr-zero">
                <div class="c-doc-article c-doc-article--medium">
                    <div class="c-doc-article__content-full">
                        <div class="u-flex u-mr-auto">
                            <h2 class="c-doc-article__title u-h2 u-mr-10 u-mb-10">{{ 'title'|trans({}, 'ws_cms_translation') }}</h2>
                        </div>
                        <p class="u-text-small u-mb-30">{{ 'disclaimer'|trans({ '%host%': domain.host, '%language%': ("language.#{domain.locale}"|trans({}, 'ws_cms'))}, 'ws_cms_translation')|raw }}</p>
                        {% for node in translations %}
                            <div class="l-form__wrapper-row u-mb-30 js-block" data-menu-link={{ "block-#{node.name}" }}>
                                <h5 class="u-h5 u-font-bold u-mb-30">
                                    {{ "#{node.source}translation.#{node.name}.name"|trans({}, node.type, domain.locale) }}
                                    <small class="c-field__message u-mt-5 u-font-normal">
                                        <i class="fa fa-info-circle"></i>
                                        {{ "#{node.source}translation.#{node.name}.description"|trans({}, node.type, domain.locale) }}
                                    </small>
                                </h5>
                                {% for attribute in node.attributes %}
                                    <div class="l-form__row">
                                        <div class="l-form__item l-form__item--large c-field">
                                            <label
                                                class="c-field__label"
                                                for="{{ attribute.id }}"
                                            >
                                                {{ "#{node.name}.#{attribute.name}" }}
                                            </label>
                                            <input type="text"
                                                class="c-input ws-translation-attribute"
                                                name="{{ attribute.id }}"
                                                value="{{ attribute.translation is not null ? attribute.translation }}"
                                                placeholder="{{ "#{node.source}#{node.name}.#{attribute.name}"|trans({}, node.type, domain.locale) }}"
                                                title="{{ "#{node.source}#{node.name}.#{attribute.name}"|trans({}, node.type, domain.locale) }}"
                                            />
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 u-hidden-down@desktop" data-component="translation-sidebar">
                <div class="c-toc">
                    <nav>
                        <ul>
                            {% for node in translations %}
                                <li class="c-toc__item">
                                    <button
                                        class="c-toc__link js-toc-link {{ loop.first ? 'is-active' }}"
                                        data-menu-link={{ "block-#{node.name}" }}
                                    >
                                        {{ "#{node.source}translation.#{node.name}.name"|trans({}, node.type, domain.locale) }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="c-divider u-mv-small"></div>
                    <button class="c-btn c-btn--info" data-save-url="{{ path('ws_translation_save') }}" id="ws-translation-save">{{ 'save'|trans({}, 'ws_cms') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

