{% extends('@WSCore/cms/layout.html.twig') %}

{% page_configuration {
    'title': 'title'|trans([], trans_prefix),
    'header': 'title'|trans([], trans_prefix),
    'breadcrumbs': {
        ('title'|trans([], trans_prefix)): false,
    }
} %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight faster">

        <div class="row">
            <div class="col-sm-12">
                {# old filter #}
                {% block crud_filter %}
                <div class="ibox">
                    <div class="ibox-content p-xs">
                        <div class="ibox-content theme-filter">
                            <form id="user_filter_form" role="form" accept-charset="UTF-8">
                                <div class="row">
                                    <div class="col-md-9 col-sd-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="{{ 'search'|trans({}, 'ws_cms') }}" type="text" name="f" value="{{ app.request.get('f') }}" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sd-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> {{ 'search'|trans({}, 'ws_cms') }}</button>
                                            <a href="{{ path("#{route_prefix}_create") }}" class="btn btn-info"><i class="fa fa-plus"></i> {{ 'new'|trans({}, 'ws_cms') }}</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endblock %}
                {# end old filter #}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 {% if data|length > 0 %} hide{% endif %}">
                <div class="alert alert-warning alert-dismissable">{{ 'no_rows_found'|trans([], trans_prefix) }}</div>
            </div>

            {% if data|length > 0 %}
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <table class="table table-hover">
                                {% if dir == 'asc' %}
                                    {% set dirClass = '-up' %}
                                    {% set newDir = 'desc' %}
                                {% else %}
                                    {% set dirClass = '-down' %}
                                    {% set newDir = 'asc' %}
                                {% endif %}
                                {% set filterQuery = get_filter_query(params, ['f']) %}
                                {% set sortedField = get_filter_query(params, ['sort']) %}

                                {% block crud_table_head %}
                                <thead>
                                    <tr>
                                        {% if batch_actions is not empty %}
                                            <th width="50">
                                                <label class="custom-checkbox ml-0">
                                                    <input type="checkbox" class="custom-checkbox__input js-batchAll">
                                                    <span class="custom-checkbox__checkmark"></span>
                                                </label>
                                            </th>
                                        {% endif %}
                                        {% for field in list_fields %}
                                            {% if  sortedField is empty and loop.first %}
                                                {% set sortField = field.name %}
                                            {% endif %}

                                            <th {{ field.width is defined ? "width=#{field.width}" }}>
                                                {% if field.sortable %}
                                                    <a href="?sort={{ field.name }}&dir={{ newDir }}{{ filterQuery is defined ? filterQuery : '' }}">
                                                        {{ "fields.#{field.name}.label"|trans([], trans_prefix) }}
                                                        {% if field.name in sortedField %}
                                                            <i class="fas fa-sort{{ dirClass }}"></i>
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    {{ "fields.#{field.name}.label"|trans([], trans_prefix) }}
                                                {% endif %}
                                            </th>
                                        {% endfor %}
                                        <th width="125">{{ 'actions'|trans({}, 'ws_cms') }}</th>
                                    </tr>
                                </thead>
                                {% endblock %}

                                {% block crud_table_body %}
                                <tbody>
                                {% for entity in data %}
                                    <tr class="js-genericDelete_wrapper" data-id="{{ entity.id }}">
                                        {% if batch_actions is not empty %}
                                            <td>
                                                <label class="custom-checkbox ml-0">
                                                    <input type="checkbox" class="custom-checkbox__input js-batchItem">
                                                    <span class="custom-checkbox__checkmark"></span>
                                                </label>
                                            </td>
                                        {% endif %}
                                        {% for field in list_fields %}
                                        <td>
                                            <a href="{{ path("#{route_prefix}_edit", { 'id': entity.id }) }}">
                                                {% if field.isDate|default(false) %}
                                                    {% if attribute(entity, field.name) is null %}
                                                        -
                                                    {% else %}
                                                        {{ attribute(entity, field.name)|date('date_hour_format'|trans({}, 'ws_cms')) }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ attribute(entity, field.name) }}
                                                {% endif %}
                                            </a>
                                        </td>
                                        {% endfor %}
                                        <td>
                                            <button class="btn btn-xs btn-danger js-genericDelete"
                                                data-id="{{ entity.id }}"
                                                data-url="{{ path("#{route_prefix}_delete", { 'id': entity.id }) }}"
                                                data-title="{{ 'title'|trans([], trans_prefix) }}"
                                                data-message="{{ 'delete_warning'|trans([], trans_prefix) }}">
                                                    <i class="fas fa-trash-alt"></i> {{ 'delete'|trans({}, 'ws_cms') }}
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                {% endblock %}
                            </table>


                            {{ include('@WSCore/cms/general/batch.html.twig', { 'batch_actions': batch_actions, 'route_prefix': route_prefix },  with_context = false) }}

                            {{ include('@WSCore/cms/general/pagination.html.twig', paginationData|merge({ 'params': params }), with_context = false) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
