{% extends('@WSCore/cms/layout.html.twig') %}

{% page_configuration {
    'title': 'title'|trans({}, trans_prefix),
    'header': isCreate ? 'new'|trans({}, 'ws_cms') : 'edit'|trans({}, 'ws_cms') ~ ' ' ~ 'title'|trans({}, trans_prefix),
    'breadcrumbs': [
        {
            'name': 'title'|trans({}, trans_prefix),
            'path': path("#{route_prefix}_index"),
            'main': true
        },
        {
            'name': isCreate ? 'new'|trans({}, 'ws_cms') : 'edit'|trans({}, 'ws_cms') ~ ' ' ~ 'title'|trans({}, trans_prefix)
        }
    ]
} %}

{% block content %}
    {{ form_start(form) }}
    <div class="container">
        <div class="c-doc-article">
            <div class="u-flex u-mr-auto">
                <h2 class="c-doc-article__title u-h2 u-mb-30">{{ 'title'|trans({}, trans_prefix) }}</h2>
            </div>
            {{ form_widget(form) }}
            <div class="c-divider u-mv-small"></div>
            <button type="submit" class="c-btn c-btn--info">{{ 'save'|trans({}, 'ws_cms') }}</button>
            <a href="{{ path("#{route_prefix}_index") }}" class="c-btn c-btn--secondary">{{ 'cancel'|trans({}, 'ws_cms') }}</a>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

